@font-face {
    font-family: 'MyriadPro_LightSemiExt';
    src: url(fonts/MyriadPro_LightSemiExt.otf);
}
@font-face {
    font-family: 'MyriadPro-Bold';
    src: url(fonts/MyriadPro-Bold.woff);
}
@font-face {
    font-family: 'MyriadPro-SemiCn';
    src: url(fonts/MyriadPro-SemiCn.woff);
}
.page {
    width: 100%;
    margin: 0;
    font-family: 'MyriadPro_LightSemiExt';
    font-size: 12px;
}
.page__line {
    max-width: 830px;
    max-height: 805px;
    margin-left: 120px;
    margin-top: 100px;
    background-color: aqua;
}
.part__user-avatar {
    width: 465px;
    height: 465px;
    margin-left: 200px;
}
.part__user-name {
    height: 74px;
    margin-left: 210px;
    margin-top: 74px;
    color: #000000;
    font-family: "MyriadPro_LightSemiExt";
    font-size: 87px;
    text-transform: uppercase;
}
.part__user-surname {
    height: 85px;
    margin-left: 210px;
    margin-top: 26px;
    color: #000000;
    font-family: "MyriadPro-Bold";
    font-size: 99px;
    text-transform: uppercase;
}
.part__user-lastname {
    height: 34px;
    margin-left: 265px;
    margin-top: 45px;
    color: #000000;
    font-family: "MyriadPro-Bold";
    font-size: 37px;
    text-transform: uppercase;
}
.part__head {
    display: flex;
    flex-wrap: nowrap;
}
.part__icon {
    width: 150px;
    height: 150px;
}
.part__text {
    margin-top: 41px;
    margin-left: 24px;
    margin-bottom: 0px;
    height: 57px;
    color: #3d6cb0;
    font-family: "MyriadPro-Bold";
    font-size: 82px;
    font-weight: 700;
    text-transform: uppercase;
}
.part__line {
    width: 100%;
    height: 11px;
    margin-top: 78px;
    margin-left: 20px;
    background-color: #3d6cb0;
}
